body {
  font-family: "Montserrat", sans-serif;
  background-color: #cfe9ee;
}

h1 {
  color: #092238;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  color: #092238;
  font-size: 120px;
  font-weight: 300;
  text-align: right;
  margin-top: -22px;
  padding-top: 0;
}

h3 {
  color: #092238;
  font-size: 32px;
  font-weight: 400;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  opacity: 90%;
}

li:first-letter {
  text-transform: capitalize;
}

hr {
  color: #092238;
}

.container {
  margin-top: 12em;
  width: 700px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 24px;
  border: 1px solid #fff;
}

.search {
  width: 100%;
  height: 52px;
  border: solid 1px;
  border-color: #fff;
  border-radius: 50px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.current-weather-icon {
  width: 90px;
  margin-top: -18px;
}

.current-weather-wrapper {
  padding-top: 20px;
}

.current-weather-info-wrapper {
  padding-left: 60px;
}

.current-weather-info-wrapper .active {
  color: #092238;
  cursor: default;
}

.current-weather-info-wrapper .active:hover {
  text-decoration: none;
}

.current-location-info-wrapper {
  padding-left: 30px;
}

.units {
  color: #092238;
  font-size: 32px;
  font-weight: 400;
}
.weather-forecast {
  padding-top: 40px;
  margin-bottom: 0;
}

.forecast-weather-icon {
  margin: 10px 0 20px 0;
}

.forecast-wrapper {
  display: block;
  text-align: center;
  background-color: transparent;
  border: none;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: 500;
}

.forecast-max-temp {
  font-size: 14px;
  color: #092238;
  padding-right: 5px;
}

.forecast-min-temp {
  font-size: 14px;
  color: #092238;
  opacity: 70%;
  padding-left: 5px;
}

.footer-note-wrapper {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.footer-note {
  color: #7d8a97;
}

.footer-note-link {
  color: #092238;
}

.footer-note-link:hover {
  color: #092238;
  text-decoration: underline;
}
